/* style.css */

.container {
  padding: 30px 50px; /* Padding di semua sisi */
  background-color: rgb(240, 240, 240);
}

h1 {
  font-size: 28px; /* Ukuran font lebih besar */
  font-weight: bold; /* Font tebal */
  margin-bottom: 20px; /* Beri jarak antara judul dan tabel */
  text-align: left; /* Posisi judul */
  color: #333; /* Warna font judul */
}

.ant-table {
  border-radius: 8px; /* Tambahkan sudut melengkung */
  background-color: #fff; /* Warna background tabel */
  padding: 10px; /* Tambahkan padding di dalam tabel */
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1); /* Tambahkan bayangan */
}

.custom-table {
  margin-top: 20px;
  border-radius: 8px;
  overflow: hidden;
}


/* CSS untuk header */
.header {
  display: flex;
  justify-content: space-between;  /* Menyebar elemen antara kiri dan kanan */
  align-items: center;  /* Menjaga elemen berada sejajar secara vertikal */
  margin-bottom: 20px;  /* Menambahkan jarak bawah antara header dan tabel */
}

/* Style untuk tombol Edit BC */
.button-edit-bc {
  margin-left: 10px;
  margin-right: 20px;
}

.buttons-container {
  display: flex;
  gap: 20px;  /* Menambahkan jarak antar tombol */
}


